{% extends "base.html" %}
{% block title %}Campus Store{% endblock  %}
{% load static %}
{% block content %}
<div class="carrossel">
    <div id="carouselMain" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="{%static 'img/slide-1.jpg' %}" class="d-none d-md-block w-100 h-100" alt="/slide-1">
                <img src="{% static "img/slide-1-mob.jpg" %}" class="d-block d-md-none w-100 h-100" alt="slide-1-mob">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static "img/slide-2.jpg" %}" class="d-none d-md-block w-100 h-100" alt="slide-2">
                <img src="{% static "img/slide-2-mob.jpg" %}" class="d-block d-md-none w-100 h-100" alt="slide-2-mob">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static "img/slide-3.jpg" %}" class="d-none d-md-block w-100 h-100" alt="slide-3">
                <img src="{% static "img/slide-3-mob.jpg" %}" class="d-block d-md-none w-100 h-100" alt="slide-3-mob">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>
</div>


<main class="flex-fill">
    <div class="container">
        <hr class="mt-3">

        <!--ITEMS-->
        <div class="row g-3"> <!--indicar q o layout vai ter 12 colunas/ g-3 => a sepaação entre as colunas vai ser entre 3 unidades-->
            {% for produto in data_protuto %}
                    
            {% endfor %}
        </div>

        <hr class="mt-3">
    </div>
</main>
{% endblock  %}