{% extends "perfil_usuário.html" %}
{% load static %}

{% block abas %}
<div class="telaconfig-container">
    <div class="title">
        <h1>Configurações</h1>
    </div>
    <div class="config-links">
        <ul>
            <li><a href="#">Alterar Senha</a></li>
            <li><a href="#">Privacidade e Segurança</a></li>
            <li><a href="#">Validação de Identidade</a></li>
            <li><a href="#">Ajuda e Suporte</a></li>
            <li><a href="#">Deletar Conta</a></li>
        </ul>
    </div>
</div>
{% endblock abas %}