{% extends "perfil_usuário.html" %}
{% block abas %}
    
    <div class="perfil-info">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="frame1">
                <div class="img-perfil">
                    <img src="{{data_user.foto.url}}" alt="foto do usuário" id="profile-pic">
                    <div class="btn">
                        <label for="input-file"><i class="fa-solid fa-camera"></i></label>
                        <input type="file" accept="img/jpeg, img/jpg, img/png" style="display: none;" id="input-file" name="input-file">
                    </div>
                </div>
                <div>
                    <h2>{{data_user.first_name}} {{data_user.last_name}}</h2>
                </div>
            </div>
            <div class="frame2">
                <div class="lin">
                    <div class="text">
                        <h5>Nome:</h5>
                        <input type="text" name="text-nome" id="text-nome" value="{{data_user.first_name}}">
                    </div>
                    <div class="text">
                        <h5>Sobrenome:</h5>
                        <input type="text" name="text-sobrenome" id="text-sobrenome" value="{{data_user.last_name}}">
                    </div>
                </div>
                <div class="lin">
                    <div class="text">
                        <h5>E-mail:</h5>
                        <input type="text" name="text-email" id="text-email" value="{{data_user.username}}">
                    </div>
                    <div class="text">
                        <h5>Telefone:</h5>
                        <input type="text" name="text-telefone" id="text-telefone" value="{{data_user.telefone}}">
                    </div>
                </div>
            </div>
            <div class="div-salvar">
                <input class="btn-salvar" type="submit" value="Salvar">
            </div>
        </form>
    </div>
        
{% endblock abas %}
{% block scripts %}
<script>
    // Função para verificar se há uma imagem salva no armazenamento local
    function checkLocalStorage() {
        let savedImage = localStorage.getItem('profileImage');
        if (savedImage) {
            profilePic.src = savedImage;
        }
    }

    let profilePic = document.getElementById('profile-pic');
    let inputFile = document.getElementById('input-file');

    // Verificar se há uma imagem salva ao carregar a página
    document.addEventListener('DOMContentLoaded', checkLocalStorage);

    inputFile.onchange = function () {
        // Atualizar a imagem e salvar o caminho no armazenamento local
        profilePic.src = URL.createObjectURL(inputFile.files[0]);
        localStorage.setItem('profileImage', profilePic.src);
    }
</script>
{% endblock scripts %}