{% extends "perfil_usuário.html" %}
{% load static %}

{% block abas %}

<main>
    <div class="content">
        <section>
            <div class="title">
                <h1>Carrinho</h1>
            </div>
            <table> <!--Listagem de produtos-->
                <thead>
                    <tr> <!--Cabeçalho dos produtos-->
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody> <!--Conteudo dos produtos-->
                    {% if data_carrinho or data_compras %}
                    {% for data in data_carrinho %}
                        <tr>
                            <td>
                                <div class="product">
                                    <img src="https://picsum.photos/200" alt="">
                                    <div class="info">
                                        <div class="name">{{data_carrinho.produto.nome_prod}}</div>
                                        <div class="vendedor">Nome do Vendedor</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="qtd">
                                    <button><i class='bx bx-minus'></i></button>
                                    <span class="maincolor">2</span>
                                    <button><i class='bx bx-plus'></i></button>
                                </div>
                            </td>
                            <td class="maincolor">R$ 10,00</td>
                            <td class="maincolor">R$ 20,00</td>
                            <td><button class="remove"><i class='bx bx-trash'></i></i></button></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">NÃO HÁ PRODUTOS EM SEU CARRINHO</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
        <aside>
            <div class="box">
                <div class="title">
                    <h2>Resumo da Compra:</h2>
                </div>
                <div class="box-resumo">
                    <form method="POST">{% csrf_token %}
                        <div class="resumo-info maincolor">
                            <label for="itens">Itens:</label>
                            <input type="number" value="0" style="background: none; border: none;" name="itens" id="itens" disabled>
                            <label for="total">Total:</label>
                            <input type="number" value="0" style="background: none; border: none;" name="total" id="total" disabled>
                            <button type="submit">Comprar</button>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
    </div>
</main>

    {% if data_compras != '' %}
        {% for data in data_compras %}
            {{data.usuario}}
        {% endfor %}
    {% else %}
        <div style="margin: auto;">NÃO HÁ PRODUTOS COMPRADOS</div>
    {% endif %}
        
{% endblock abas %}