{% extends "perfil_usuário.html" %}
{% load static %}

{% block cssblock %} 
    <link rel="stylesheet" href="{% static 'css/carrinho.css'%}">
{% endblock cssblock %}
{% block abas %}

<main class="frame2">
    <div class="page-title">
        Seu Carrinho
    </div>
    <div class="content">
        <section>
            <div class="title">
                <h1>Carrinho</h1>
            </div>
            <table> <!--Listagem de produtos-->
                <thead>
                    <tr> <!--Cabeçalho dos produtos-->
                        <th>Produto/Serviço</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody> <!--Conteudo dos produtos-->
                    {% if data_carrinho != '' %}
                    {% for data in data_carrinho %}
                        <tr>
                            <td>
                                <div class="product">
                                    <img src="https://picsum.photos/200" alt="">
                                    <div class="info">
                                        <div class="name">{{data_carrinho.produto.nome_prod}}</div>
                                        <div class="vendedor">Nome do Vendedor</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="qtd">
                                    <button><i class='bx bx-minus'></i></button>
                                    <span class="maincolor">2</span>
                                    <button><i class='bx bx-plus'></i></button>
                                </div>
                            </td>
                            <td class="maincolor">R$ 10,00</td>
                            <td class="maincolor">R$ 20,00</td>
                            <td><button class="remove"><i class='bx bx-trash'></i></i></button></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <div style="margin: auto;">NÃO HÁ PRODUTOS NO CARRINHO</div>
                    {% endif %}
                </tbody>
            </table>
        </section>
        <aside>
            <div class="box">
                <div class="title">
                    <h1>Resumo da Compra:</h1>
                </div>
                <div class="box-resumo">
                    <div class="resumo-info maincolor">
                        <div><span>Itens:</span><span>2</span></div>
                        <div><span>Total:</span><span>R$ 20,00</span></div>
                    </div>
                    <button>Comprar</button>
                </div>
            </div>
        </aside>
    </div>
</main>

    {% if data_compras != '' %}
        {% for data in data_compras %}
            {{data.usuario}}
        {% endfor %}
    {% else %}
        <div style="margin: auto;">NÃO HÁ PRODUTOS COMPRADOS</div>
    {% endif %}
        
{% endblock abas %}