{% extends "perfil_usuário.html" %}

{% block abas %}
    <div class="perfil-info">
        <div class="frame1">
            <div class="img-perfil">
                <img src="{{data_user.foto.url}}" alt="foto do usuário" id="profile-pic">
            </div>

            <div>
                <h2>{{data_user.first_name}} {{data_user.last_name}}</h2>
                <a href="{% url 'perfil:editar_informacoes' %}">Editar</a>
            </div>
        </div>
        <div class="frame2">
            <div class="lin">
                <div class="text">
                    <h5>Nome:</h5>
                    <p>{{data_user.first_name}}</p>
                </div>
                <div class="text">
                    <h5>Sobrenome:</h5>
                    <p>{{data_user.last_name}}</p>
                </div>
            </div>
            <div class="lin">
                <div class="text">
                    <h5>E-mail:</h5>
                    <p>{{data_user.username}}</p>
                </div>
                <div class="text">
                    <h5>Telefone:</h5>
                    <p>{{data_user.telefone}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock abas %}
