{% extends "perfil_vendedor.html" %}
{% block abas %}

    <div class="servico-container">
        <div class="title">
            <h1>Editar Serviço</h1>
            <a href="#">Adicionar serviço <i class="fa-solid fa-plus"></i></a>
        </div>
        <div class="servico-card">
            <div class="sc-title">
                <h4>Desenvolvedor Java com Experiência em Banco de Dados</h4>
                <span>R$ 120</span>
            </div>
            <div class="servico-txt">
                <p>Estou à procura de um desenvolvedor Java para auxiliar no desenvolvimento de um menu para um jogo dentro do FiveM.</p>
            </div>
            <div class="servico-habili">
                <ul>
                    <li>C++</li>
                    <li>Java</li>
                    <li>Python</li>
                </ul>
                <div class="btn-editar">

                </div>
            </div>
        </div>
    </div>

{% endblock abas %}
