@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.produtos {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-link {
    border-radius: 12px;
    text-decoration: none;
    color: #08244C;
    padding: 10px;
}

.card-produto:hover {
    background-color: #ccc;
}

.card-produto {
    background-color: #eee;
    width: 200px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.336);
    transition: 0.2s;
}

.frame1 {
    width: 100%;
}


.frame2 {
    height: 140px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.produtos img {
    width: 100%;
    height: 140px;
    border-radius: 12px 12px 0 0;
}

.text-card {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#prod-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

#preco {
    font-weight: 900;
    font-size: 16px;
    margin: 0;
}

.botoes button {
    border: 0;
    background-color: #f6f6f6;
    width: 35px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 7px;

    color: #08244C;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.308);
    transition: 0.5s;
}

.botoes button:hover {
    background-color: #08244C;
    color: #f6f6f6;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media screen and (max-width: 1500px) {
    .wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:500px) {

    .card-link{
        width: 175px;
    }
    
    .card-produto , .frame1 img {
        width: 100%;
    }

}

/* @media screen and (max-width: 500px) {
    .wrapper {
        width: 100%;
    }

    .produtos img {
        width: 200px;
    }
    .card-produto {
        width: 100%;
    }

    .frame2 {
        padding: 5px;
    }

    .card-produto {
        width: 10px;
    }
    .card-produto .text-card {
        font-size: 13px;
    }

    .botoes button {
        width: 27px;
        height: 27px;
        font-size: 15px;
    }
}

*/

@media screen and (max-width: 400px) {
    .card-link {
        padding: 5px;
    }
    .botoes button {
        width: 27px;
        height: 27px;
        font-size: 15px;
    }
}