@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.produtos-favoritos {
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos-favoritos .card-link {
    border-radius: 12px;
    text-decoration: none;
    color: #08244C;
    padding: 10px;
}



.produtos-favoritos .card-produto {
    background-color: #eee;
    width: 200px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.336);
    transition: 0.2s;
}

.produtos-favoritos .frame1 {
    width: 100%;
}


.produtos-favoritos .frame2 {
    height: 140px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.produtos-favoritos img {
    width: 100%;
    height: 140px;
    border-radius: 12px 12px 0 0;
}

.produtos-favoritos .text-card {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#prod-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

#preco {
    font-weight: 900;
    font-size: 16px;
    margin: 0;
}

.produtos-favoritos .botoes button {
    border: 0;
    background-color: #f6f6f6;
    width: 35px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 7px;

    color: #08244C;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.308);
    transition: 0.5s;
}

.produtos-favoritos .botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.produtos-favoritos .wrapper {
    margin-top: 150px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 1200px) {
    .produtos-favoritos .wrapper {
        margin-block: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .produtos-favoritos .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1500x) {
    .produtos-favoritos .wrapper {
        margin-block: 20px;
    }
}

@media screen and (max-width: 750px) {
    .produtos-favoritos .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:500px) {

    .produtos-favoritos .card-link{
        padding: 5px;
        width: 200px;
    }
    
    .produtos-favoritos .card-produto , .frame1 img {
        width: 100%;
    }

}

@media screen and (max-width: 400px) {
    .produtos-favoritos .card-link {
        width: 170px;
        padding: 3px;
    }
    .produtos-favoritos .botoes button {
        width: 27px;
        height: 27px;
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .produtos-favoritos .card-link {
        width: 150px;
    }
}