/* -------------------------- PERFIL -------------------------- */

.container-perfil {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.perfil-config { /* -------------------------------- */
    background-color: #a5a0a05a;
    height: 488px;
} 


.perfil-config ul li {
    padding-block: 20px;
    padding-inline: 30px;
}

.perfil-config ul li:hover {
    background-color: lightgrey;
}

.perfil-config ul li a h5 {
    padding-left: 30px;
}

.perfil-config ul li a {
    display: flex;
    align-items: center;
}

.perfil-info {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.perfil-info .frame1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.perfil-info .frame1 img {
    border: 6px solid rgb(173, 28, 226);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.479); /* valores X, Y, desfoque, cor (preto com opacidade 0.1) */
}



.perfil-info .frame2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.perfil-info .frame2 .lin div {
    margin-top: 30px;
}

.perfil-info .frame2 .lin .text p, .desc {
    border-radius: 7px;
    text-align: center;
    background-color: #a5a0a05a;
    padding: 10px 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

.desc p {
    text-indent: 20px;
}


/* --------------  PRODUTOS/SERVIÇOS ------------------*/
.sobre-img img {
    border-radius: 50%;
    width: 290px;
    border: 10px solid #7a33bc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.479); 
}

.sobre {
    padding-block: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sobre-info {
    width: 600px;
    text-align: justify;
}

.sobre-dados {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.social-icons {
    display: flex;
}

.social-icons li {
    margin-right: 20px;
}

.img-part {
    position: relative;
}

.img-perfil label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #08244c;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    transition: 0.5s;
}

.img-perfil input:focus {
    outline: none;
    border: none;
}

.img-perfil label:hover {
    background-color: #08244cd8;
}

.img-perfil label i {
    color: #fff;
}

